@media (max-width:1560px){
    .footer {
        &__call {
            margin-right: 10px;
        }

        &__info {
            gap: 20px;
        }
    }
}

@media (max-width: 1440px) {
    // header 1440
    .header {
        &__info-item {
            font-size: 18px;
        }

        &__menu-list {
            gap: 50px;
        }

        &__call-phone {
            font-size: 18px;
        }

        &__call-link {
            font-size: 18px;
        }
    }

    // footer 1440
    .footer {

        &__copyright {
            font-size: 12px;
            margin-right: 5px;
        }

        &__info {
            gap: 15px;

            span {
                font-size: 16px;
            }
        }
        
        &__contacts {
            gap: 10px;

            svg {
                width: 20px;
                height: 20px;
            }
        }

        &__call {
            margin-left: 10px;
            .header__call-phone {
                padding-right: 5px;
                margin-right: 5px;
                font-size: 16px;
            }

            .header__call-link {
                font-size: 16px;
            }
        }
    }
}

@media (max-width: 1220px) {
    // header 1220
    .header {
        &__phone {
            padding-right: 5px;
            margin-right: 5px;
        }

        &__menu-list {
            gap: 30px;
        }

        &__col {
            &--info {
                display: none;
            }

            &--center {
                justify-content: flex-end;
            }
        }
    }

    // steps 1220
    .steps {

        &__item {
        }

        &__item-content {
            flex-direction: column;
            margin-left: 30px;
        }

        &__item-btn {
            margin-left: 0;
            margin-top: 15px;
        }
    }

    // price 1220
    .price {
        th {
            padding: 40px 20px;
            font-size: 19px;
        }
        td {
            padding: 40px 20px;
            font-size: 19px;
        }
    }

    // laboratory 1220
    .laboratory {
        &__dominates {
            padding: 57px 30px;
        }
    }

    // footer 1220
    .footer {

        &__middle .col-lg-12 {
            flex-wrap: wrap;
        }

        &__call {
            margin-left: auto;
        }

        &__info {
            width: 100%;
        }

        &__menu-list {
            gap: 60px;
        }
    }
}

@media (max-width: 1020px) {
}

@media (max-width: 992px) {
    // header 992
    .header {
        z-index: 10001;
        transition: .3s;
        &.active {
            background-color: var(--color-black);
        }
        &__col {
            &--center {
                display: flex;
                align-items: stretch;
                justify-content: flex-end;
            }
        }

        &__burger {
            display: flex;
            align-items: center;
            flex: 1 0;
        }

        &__call {
            align-items: flex-end;
        }

        &__contacts {
            margin-top: 2px;
        }

        &__call-phone {
            font-size: 24px;
            margin-right: 0;
            padding-right: 0;
            border: none;
        }

        &__burger-btn {
            display: block;
            border: none;
            width: 33px;
            height: 22px;
            padding: 0;
            background: transparent;
            position: relative;
            &::after,
            &::before {
                content: "";
                position: absolute;
                height: 2px;
                width: 0%;
                background-color: var(--color-yellow);
                transition: .3s;
                left: 0;
                z-index: 2;
            }
            &::before {
                top: 0;
            }
            &::after {
                bottom: 0;
            }
            svg {
                fill: #fff;
                width: 33px;
                height: 22px;
                transition: 0.3s;
            }
            &.active {
                &::before, &::after {
                    width: 100%;
                }
                svg {
                    fill: var(--color-yellow);
                }
            }
        }

        &__menu {
            padding: 18px 0;
        }

        &__menu-list {
            justify-content: space-between;
        }

        &__contacts {
            flex-wrap: wrap;
        }

        &__info {
            flex-direction: column;
            gap: 15px;
        }

        &__call {
            flex-direction: column;
        }

        &__call-link {
        }

        &__call-btn {
            margin-left: 0;
            margin-top: 25px;
            max-width: 280px;
            font-size: 16px;
        }
    }

    .mobmenu {
        position: fixed;
        width: 100%;
        height: 100%;
        padding: 0 15px 0;
        top: 0;
        left: 0;
        background-color: #34373c;
        height: 0%;
        overflow: hidden;
        opacity: 0;
        transition: 0.3s;
        z-index: 1000;
        &__top {
            padding-top: 25px;
        }

        &__bottom {
            padding-bottom: 35px;
        }

        &.active {
            overflow: auto; 
            opacity: 1;
            height: 100%;
        }
    }

    // offer 992
    .offer {
        padding-bottom: 77px;

        .container {
            position: relative;
        }

        &__title {
            max-width: 100%;
            font-size: 54px;
            line-height: 110%;
        }

        &__title-bg {
            z-index: 0;
            
            &::after {
                width: calc(100% + 26px);
                left: -16px;
            }
        }

        &__descr {
            margin-top: 28px;
            font-size: 16px;
            line-height: 150%;
            ul {
                padding-left: 20px;
            }
        }

        &__img {
            position: absolute;
            width: 311px;
            height: 300px;
            right: calc(var(--bs-gutter-x) * .5);
            bottom: 0;
            border-radius:15px;
            &::after {
                display: none;
            }

            img {
                width: 100%;
                height: 100%;
                display: block;
            }
        }

        &__btn {
            margin-top: 134px;
            margin-bottom: 20px;
        }
    }

    // dominates 992
    .dominates {

        &__items {
            gap: 20px;
        }

        &__item {
            width: 24.6%;
            padding-left: 5px;
            padding-right: 5px;
            min-width: 216px;
            span {
                font-size: 14px;
            }

            &:nth-last-child(2) {
                width: 20%;
                min-width: 280px;
            }

            &--btn {
                width: 20%;
                min-width: 280px;
            }
        }
    }

    // services 992
    .services {
        &__item-inner {
            h3 {
                font-size: 21px;
            }
        }

        &__item-body {
            padding: 15px 12px 25px;
        }

        &__item-price {
            margin-top: 15px;
        }

        &__item-alert {
            padding-top: 13px;
        }
    }

    // root 992

    :root {
        --title-size: 40px;
        --title-gap: 20px;
        --section-gap: 50px
    }

    // article 992
    .article {
        padding-top: 40px;
        padding-bottom: 0;
        &__descr {
            text-align: center;
            font-size: 21px;
        }

        &__text {
            margin-top: 15px;
            max-width: 100%;
            ol + p {
                margin-top: 15px;
            }
    
            p + p {
                margin-top: 15px;
            }
        }

        &__img {
            margin-top: 30px;
            margin-left: auto;
            margin-right: auto;
        }

    }

    // steps 992
    .steps {
        padding-bottom: 50px;
        .main-title h2 {
            margin-bottom: 50px;
        }

        &__item-text {
            font-size: 16px;
            h3 {
                font-size: 21px;
            }
        }
    }

    // questions 992
    .questions {
        &__tabs-item {
            padding-left: 25px;
        }

        &__tabs-item-content {
            max-width: 586px;
        }
    }

    // price 992
    .price {
        &__tables-item {
            th {
                font-size: 18px;
                padding: 40px 17px;
            }

            td {
                font-size: 18px;
            }

            tr {
                td:first-child, th:first-child {
                    border-radius: 15px 0 0 15px;
                    padding-left: 30px;
    
                    span {
                        display: block;
                        max-width: 330px;
                    }
                }
                td:last-child, th:last-child {
                    border-radius: 0 15px 15px 0;
                    padding-right: 17px;
                }
    
                &:nth-child(odd) {
                    background: #F3F3F9;
                }
            }
        }
    }

    // workpoint 992
    .workpoint {

        &__slider-slide.swiper-slide-active  {
            .workpoint__slider-slide-inner {
                opacity: 1;
                transform: scale(1);
            }
        }

        .swiper-wrapper {
            padding: 0;
        }

        &__slider-slide-inner {
            max-width: 768px;
            max-height: 460px;
            height: 100%;
            width: 100%;
        }
    }

    // laboratory 992
    .laboratory {

        .main-title h2 {
            margin-bottom: 18px;
        }

        p + p {
            margin-top: 18px;
        }

        &__dominates {
            margin-top: 35px;
        }

        &__dominates-item {
            width: fit-content;
            margin-left: auto;
            margin-right: auto;
        }
    }

    // docs 992
    .docs {

        &__items {
            display: none;
        }

        &__slider {
            display: block;
        }
    }

    // footer 992
    .footer {

        &__form {
            p {
                max-width: 100%;
                font-size: 18px;
            }
        }

        &__form-inputs {
            margin-top: 23px;
            width: 100%;
            flex-wrap: wrap;
        }

        &__form-input {
            width: 40%;
        }

        &__form-btn {
            max-width: 40%;
            margin-top: 0;
        }

        &__middle .col-lg-12{
        }

        &__contacts {
            gap: 15px;
            svg {
                width: 26px;
                height: 26px;
            }
        }

        &__call {
            margin-bottom: 15px;
            .header__call-phone {
                padding-right: 0;
                font-size: 24px;
                margin-right: 0;
            }
        }

        &__info {
            justify-content: flex-end;
            align-items: flex-end;
            gap: 7px;
        }

        &__menu-list {
            flex-wrap: wrap;
        }
    }

}

@media (max-width: 876px) {
}

@media (max-width: 768px) {
    .container {
        --bs-gutter-x: 2.3rem;
    }

    .mobmenu {
        &__top {
            padding-bottom: 25px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.43);
        }

        &__bottom {
            padding-top: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    // header 768
    .header {

        .container {
            padding-left: 10px;
            padding-right: 10px;
        }

        &__bottom {
            padding: 0;
            display: none;
        }

        &__menu {
            padding: 0;
        }

        &__menu-list {
            flex-direction: column;
            gap: 30px;
        }

        &__call {
            margin-top: 25px;
            margin-left: 0;
        }

        &__info-item {
            font-size: 14px;
        }

        &__call-phone {
            font-size: 18px;
        }

        &__call-link {
            font-size: 14px;
        }

        &__menu-link {
            font-size: 21px;
        }
    }

    // offer 768
    .offer {

        .container {
            padding-top: 40px;
        }

        &__img {
            position: static;
            width: 100%;
            height: auto;
        }

        &__title {
            font-size: 36px;
        }

        &__title-bg {
            margin-right: 5px;
            &::after {
                left: -13px;
                height: 105%;
                top: 0;
            }
        }

        &__btn {
            margin: 25px 0;
        }

        &__descr {
            margin-top: 18px;
            margin-bottom: 0;
        }

        &__descr {
            font-size: 14px;
        }
    }

    // dominates 768
    .dominates {

        &__items {
            margin-top: -17px;
        }

        &__item {
            width: 48%;
            min-width: 164px !important;
            gap: 5px;
            &--btn {
                width: 100%;
                gap: 25px;
                span {
                    max-width: 100%;
                }
            }

            span {
                font-size: 14px;
            }

            &:nth-last-child(2) {
                width: 48%;
            }
        }
    }

    // services 768
    .services {
        &__items {
            justify-content: center;
            row-gap: 15px;
        }

        &__item {
            max-width: 420px;
        }

        &__item-inner {
        }

        &__item-body {

            padding: 10px 12px 20px;
        }
        
        &__item-list {
            display: none;
        }
    }
    
    // root 768
    :root {
        --title-size: 30px;
        --section-gap: 40px;
    }

    // article 768
    .article {
        &__descr {
            font-size: 16px;
            line-height: 121%;
        }

        &__text {
            font-size: 14px;

            ol li {
                gap: 10px;
                font-size: 14px;
            }

            ol + p {
                margin-top: 5px;
            }

            p + p {
                margin-top: 5px;
            }
        }

        &__img {
            margin-top: 15px;
            &::after {
                top: 5px;
                left: -5px;
            }
        }
    }

    // steps 768
    .steps {
        &__item {
            flex-direction: column;
        }

        &__item-content {
            margin-top: 12px;
            margin-left: 0;
        }
    }

    // questions 768
    .questions {
        &__tabs-item {
            padding: 12.5px 25px;
        }

        &__tabs-item-title {
            h3 {
                font-size: 14px;
                line-height: 150%;
            }

            svg {
                min-width: 34px;
                min-height: 34px;
                width: 34px;
                height: 34px;
            }
        }

        &__tabs-item-content {
            font-size: 14px;
        }
    }

    // price 768
    .price {
        &__tables-item {
            tr:first-child {
                display: none;
            }

            tr {
                width: 100%;
            }

            tr td:first-child {
                display: block;
                width: 100%;
                margin-bottom: 16px;
            }

            tr {
                border-radius: 15px;
                padding: 14px 13px;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                td {
                    padding: 0 !important;
                    display: block;
                    width: fit-content;
                    font-size: 14px;
                }

                td:last-child {
                    font-weight: 700;
                }

                &:nth-child(odd) {
                    background: transparent;
                }
                &:nth-child(even) {
                    background-color: #F3F3F9;
                }
            }
        }
    } 


    // slider 768
    .slider {

        &__controls {
            gap: 30px;
        }

        &__arrow {
            width: 30px;
            height: 30px;
            min-width: 30px;
            min-height: 30px;
            svg {
                width: 13px;
                height: 9px;
            }
        }

        &__pag {
            gap: 18px;
            .swiper-pagination-bullet {
                width: 16.7px;
                height: 16.7px;

            }
        }
    }

    // employees 768
    .employees {
        &__slider-slide-inner {
            h3 {
                margin-top: 10px;
            }

            span {
                margin-top: 0;
            }
        }
    }

    // laboratory 768
    .laboratory {
        padding-top: 42px;

        .main-title h2 {
            margin-bottom: 15px;
        }

        p {
            font-size: 14px;
        }

        p + p {
            margin-top: 10px;
        }

        &__dominates {
            margin-top: 15px;
            padding: 40px 15px 40px 20px;
        }

        &__dominates-item {
            margin-left: 0;
            svg {
                min-width: 64px;
                min-height: 64px;
            }

            h3 {
                font-size: 14px;
            }
        }
    }

    // contacts 768
    .contacts {
        padding-top: 350px;
        padding-bottom: 70px;
        &__info {
            padding: 35px 25px; 
            max-width: 100%;

            h2 {
                margin-bottom: 30px;
            }
        }

        &__info-item {
            a, span {
                font-size: 21px;
            }

            p {
                font-size: 14px;
            }
        }
    }

    // footer 768
    .footer {

        &__form {
            padding: 40px 0;
            h3 {
                margin-bottom: 10px;
            }
            p {
                font-size: 16px;
            }
        }

        &__middle {
            padding: 25px 0;
        }

        &__bottom .col-lg-12 {
            align-items: flex-start;
        }

        &__form-inputs {
            row-gap: 15px;
        }

        &__form-input {
            width: 100%;
            max-width: 100%;
        }

        &__form-btn {
            max-width: 100%;
            margin-top: 25px;
        }

        &__logo {
            width: 100%;
            justify-content: center;
        }

        &__copyright {
            font-size: 14px;
        }

        &__call {
            margin-left: auto;
        }

        &__menu-list {
            display: block;
            columns: 2 auto;
            row-gap: 25px;
            column-gap: 45px;
            li {
                margin-bottom: 25px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
            a {
                font-size: 16px;
            }
        }

        &__telegram {
            width: 29px;
            height: 29px;
            margin-right: 30px;
        }
    }
}

@media (max-width: 576px) {

    // container 576
    .container, .row {
        --bs-gutter-x: 20px;
    }

    // dominates 576
    .dominates {
        &__items {
            gap: 18px;
            justify-content: space-between;
        }

        &__item {
            width: 46.4%;
            min-width: 0 !important;
            padding: 17.5px 5px;
            &:nth-last-child(2) {
                width: 46%;
                min-width: 0 !important;
            }

            &--btn {
                width: 100%;
            }
        }
    }

    // slider 576
    .slider {
        &__pag {
            transform: translateX(0) !important;
            left: 0 !important;
            overflow: hidden;
            gap: 0;
        }
    }
}

@media (max-width: 450px) {
    // dominates 450
    .dominates {
        &__item {
            span {
                font-size: 12px;
            }

            svg {
                min-width: 30px;
                min-height: 30px;
                width: 30px;
                height: 30px;
            }
        }
    }
}

@media (max-width:370px){
    // contacts 370
    .contacts {

        &__info {
            h2 {
                font-size: 24px;
                margin-bottom: 20px;
            }
        }

        &__info-item {
            margin-bottom: 15px;

            a, span {
                font-size: 16px;
            }

            p {
                font-size: 14px;
            }

            svg {
                min-width: 30px;
                min-height: 30px;
            }
        }
    }

    // footer 370
    .footer {
        &__menu-list {
            columns: 1;
        }

        &__call {
            .header__call-phone {
                font-size: 19px;
            }
        }

        &__copyright {
            font-size: 12px;
        }
    }
}
